.education-content {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.skill-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.skills-card {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* width: 0; */
  /* background-color: gray; */
  padding: 0rem;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 10px;
  width: 5vw;
  height: 5vw;
  align-items: center;
  justify-content: center;

  gap: 0.25rem;
}