* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;

  background-color: rgb(244, 244, 244);
  display: flex;
  flex-direction: column;
  
  height: 100vh;
  justify-content: center;
}

a {
  color: rgb(68, 68, 68);
}

a:hover {
  color: rgb(178, 178, 178);
}

h1 {
  color: rgb(68, 68, 68);
  margin: 1rem 0;
}

h2 {
  color: rgb(68, 68, 68);
  margin: 1.75rem 0 0.5rem 0;
}

p {
  color: rgb(68, 68, 68);
}

li {
  color: rgb(68, 68, 68);
}

.subtext {
  font-size: 0.9rem;
  color: rgb(68, 68, 68);
}